<h2>My Heroes</h2>
<ul class="heroes">
    <!--
        *ngfor laver en list af vores objekter 
        [class.selected] gør at hvis at vores li er selected og giver den så den tilpassede style
    -->
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{ hero.id }}">
            <span class="badge">
                {{hero.id}}
            </span> {{hero.name}}
        </a>
        <button class="delete" title="delete hero"
        (click)="delete(hero)">X</button>
    </li>
</ul>

<div>
    <label>Hero name:
      <input #heroName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(heroName.value); heroName.value=''">
      add
    </button>
  </div>